@import './base.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

html {
  background-color: #090b0f;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC,
    WenQuanYi Micro Hei, sans-serif;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  &::-webkit-scrollbar { width: 0 !important };
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'),
    url('../../assets/Roboto/Roboto-Black.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src: local('Roboto Black'), local('Roboto-Black'),
    url('../../assets/Roboto/Roboto-Black.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url('../../assets/Roboto/Roboto-Thin.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url('../../assets/Roboto/Roboto-Thin.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('../../assets/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('../../assets/Roboto/Roboto-BoldItalic.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../../assets/Roboto/Roboto-Medium.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../../assets/Roboto/Roboto-Medium.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
    url('../../assets/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto'), local('Roboto-Regular'),
    url('../../assets/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url('../../assets/Roboto/Roboto-BlackItalic.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-BlackItalic';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url('../../assets/Roboto/Roboto-BlackItalic.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../../assets/Roboto/Roboto-Bold.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../../assets/Roboto/Roboto-Bold.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('../../assets/Roboto/Roboto-LightItalic.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
    url('../../assets/Roboto/Roboto-LightItalic.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('../../assets/Roboto/Roboto-Italic.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('../../assets/Roboto/Roboto-Italic.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('../../assets/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-MediumItalic';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('../../assets/Roboto/Roboto-MediumItalic.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('../../assets/Roboto/Roboto-ThinItalic.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-ThinItalic';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
    url('../../assets/Roboto/Roboto-ThinItalic.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../../assets/Roboto/Roboto-Light.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../../assets/Roboto/Roboto-Light.woff2') format('woff2'),
    url('../../assets/Roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}





.head-nav {
  position: fixed;
  left: 0;
  right: 0;
  height: $headerHeight;
  z-index: 111;
  background-color: transparent !important;

  @media screen and (max-width: 920px) {
    height: 66px;
  }

  .nav-contain {
    @extend .row_between;
    @extend .auto_center;
    height: $headerHeight;

    @media screen and (max-width: 920px) {
      display: none;
    }

    .menu {
      margin-top: 16px;
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      color: $text2;

      >li {
        padding: 12px 0;
        margin-left: 60px;
        height: 70px;
        position: relative;
        display: flex;
        align-items: center;

        .default-btn {
          @extend .btn;
          width: 98px;
          height: 38px;
          align-self: flex-start;
          background: $text1;
          border-radius: 19px;
          color: #000;
        }

        &::after {
          content: '';
          position: absolute;
          border-bottom: 1px solid transparent;
          left: 0;
          right: 0;
          bottom: 0;
        }

        .menu-list-paper {
          display: flex;
          align-items: center;
          // color: #fff;
        }

        a {
          font-size: 16px;
          color: $text2;

          >:first-child {
            margin-right: 5px !important;
          }

          &:hover {
            color: #fff;
          }
        }

        &.selected {
          a {
            color: $text1;
          }

          &::after {
            border-color: $text1;
          }
        }

        .subList {
          position: absolute;
          width: 128px;
          top: 57px!important;
          left: -20%;
          background: #1C2129;
          display: none;

          >li {
            height: 44px;
            padding: 14px 10px;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

            &:hover {
              background: #2B3647;
            }
          }
        }

        &:hover {
          .subList {
            display: block;
          }
        }
      }
    }
  }

  .nav-mobile-contain {
    padding: 0 15px;
    height: 100%;
    @extend .row_center;
    justify-content: space-between;

    @media screen and (min-width: 921px) {
      //display: none;
    }

    >* {
      width: 40;
      flex-shrink: 0;
    }

    .menu-tag {
      cursor: pointer;
    }
  }

 
}

.banner-user {
  height: 220px;
}

.footer-bottom {
  @extend .column_center;
  position: relative;
  z-index: 10;
  padding: 0 15px;
  font-size: 17px;
  font-family: Roboto-Regular,
    Roboto;
  font-weight: 400;
  color: #A1A1A1;
  line-height: 17px;
  letter-spacing: 5px;

  >.head-text {
    margin-top: 16px;
  }

  .separation {
    width: 24px;
    height: 1px;
    background: $text1;
    margin: 64px 0;
  }

  .contact-box {
    width: 160px;
    margin-bottom: 120px;
    align-items: center;
    @extend .row_between;

    >a {
      display: flex;
      align-items: center;
    }

    &>* {
      width: 30px;
      height: 30px;
    }
  }

  @media screen and (max-width: 675px) {
    letter-spacing: 0;
    font-size: 10px;

    .bottom-logo {
      width: 117px;
    }

    .separation {
      margin: 36px 0;
    }

    .contact-box {
      margin-bottom: 50px;
      width: 90px;

      &>* {
        width: 17px;
        height: 17px;
      }
    }
  }
}


.hide_mobile {
  @media screen and (max-width: 675px) {
    display: none !important;
  }
}

.hide_pc {
  @media screen and (min-width: 676px) {
    display: none !important;
  }
}

